fastapi
uvicorn
sqlalchemy
python-decouple
python-dotenv
google-generativeai
cloudinary
python-multipart
websockets
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
psycopg2-binary